@{
    ViewData["Title"] = "Ana Sayfa";
}



<!-- Giriş Yap veya Üye Ol Butonları -->
<div class="text-center mb-4" id="authStatus">
    <!-- Bu kısım JavaScript ile güncellenecek -->
    <p class="lead" id="authMessage"></p>
</div>


<!-- Sanat eserlerini listeleme -->
@model IEnumerable<OnlineGallery.Models.Artwork>

@if (Model != null && Model.Any())
{
        <div class="row">
        @foreach (var artwork in Model)
        {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <!-- Görseli bağlantıya sararak tıklanabilir hale getirme -->
                            <a href="@Url.Action("TableDetails", "Home", new { id = artwork.ArtworkId })" class="card-img-link">
                                    <img src="~/@artwork.ImageUrl"
                                         class="card-img-top"
                                         alt="@artwork.Title"
                                         style="max-height: 200px; object-fit: cover;" />
                            </a>
                            <div class="card-body text-center">
                                <!-- Başlık -->
                                <h5 class="card-title">@artwork.Title</h5>

                                <!-- Açıklama -->
                                <p class="card-text">@artwork.Description</p>

                                <!-- Fiyat -->
                                <p class="card-text"><strong>Fiyat:</strong> @string.Format("{0:C}", artwork.Price)</p>

                                <!-- Detayları Gör Butonu -->
                                <a href="@Url.Action("TableDetails", "Home", new { id = artwork.ArtworkId })" class="btn btn-primary">Detayları Gör</a>
                            </div>
                        </div>
                    </div>
        }
        </div>
}
else
{
        <p class="text-center">Gösterilecek sanat eseri bulunamadı.</p>
}

@section Scripts {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                console.log('DOM yüklendi.');
                var authToken = '@TempData["AuthToken"]';
                console.log(authToken);
                if (authToken) {
                    localStorage.setItem('authToken', authToken);
                    console.log(authToken, "aynen");
                   
                } else {
                    document.getElementById('authMessage').innerHTML = 'Hesabınız yok mu? <a href="@Url.Action("Register", "Account")">Kayıt Ol</a> veya <a href="@Url.Action("Login", "Account")">Giriş Yap</a>';
                }
            });
        </script>
}
